.hm-intro-heading {
  font-size: clamp($font-size-display-5, 5vw, $font-size-display-2);
  line-height: clamp(36px, 6vw, 72px);
  color: $color-white;
  margin: 0;
}

.hm-intro-subheading {
  max-width: 75ch;
  font-size: clamp($font-size-body-3, 2cqw, $font-size-body-2);
  line-height: clamp(24px, 3vw, 36px);
  color: $color-white;
}
