// .wave-divider-wrapper {
//   background: url('/src/assets/wave-clean.svg'), url('/src/assets/wave-icons.svg');
//   background-position: center bottom, center 0;
//   background-repeat: no-repeat;
//   position: relative;
//   height: 188px;
// }

// .clean {
//   background: url('/src/assets/wave-clean.svg');
//   background-position: center bottom;
//   background-repeat: no-repeat;
//   height: 88px;
// }

// .icons-teal {
//   background: url('/src/assets/wave-clean.svg'), url('/src/assets/wave-icons-teal.svg');
//   background-position: center bottom, center 0;
//   background-repeat: no-repeat;
//   position: relative;
//   height: 188px;
// }

// .top {
//   background: url('/src/assets/wave-top.svg'), url('/src/assets/wave-icons-teal.svg');
//   background-position: center bottom, center top;
//   background-repeat: no-repeat;
//   position: relative;
//   height: 188px;
// }

// .flipOrder {

// }

.wave-divider-wrapper {
  & span {
    display: block;
  }

  &[class*='icons-'] {
    height: 217px;
  }

  &.icons-black .icons-wrapper {
    background: url('/src/assets/wave-icons.svg');
    background-repeat: no-repeat;
    background-position: center top;
    height: 134px;
  }

  &.icons-teal .icons-wrapper {
    background: url('/src/assets/wave-icons-teal.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-color: $color-black;
    height: 134px;
  }
}

.wave-wrapper {
  background: url('/src/assets/wave-clean.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 83px;
}

.flipwave-x .wave-wrapper {
  transform: rotate(180deg);
}

.flipwave-y .wave-wrapper {
  transform: scaleX(-1);
}

.flipicons-x .icons-wrapper {
  transform: rotate(180deg);
}

.flipicons-y .icons-wrapper {
  transform: scaleX(-1);
}

.teal {
  background-color: $color-teal;
}

.black {
  background-color: $color-black;
}

.yellow {
  background-color: $color-yellow;
}
