.gs-main {
  background-color: $color-black;
  display: flex;
  column-gap: $space-s;
  row-gap: $space-m;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: stretch;

  & > * {
    flex-grow: 1;
    flex-basis: 100%;

    @include media('>=tablet') {
      flex-grow: unset;
      flex-basis: 11.25rem;
    }
  }
}

.gs-tile {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content auto;
  grid-template-areas:
    'icon heading'
    'icon text';
  align-items: center;
  row-gap: 0.5rem;
  border: 4px solid $color-pink;
  border-radius: 12px;
  padding: 1.5rem;
  text-decoration: none;
  min-height: 9rem;
  color: $color-white;

  @include media('<=tablet') {
    column-gap: 1.5rem;
  }

  @include media('>=tablet') {
    flex-basis: max-content;
    grid-template-areas:
      'icon'
      'heading'
      'text';
    justify-items: center;
    row-gap: 1rem;
  }

  &:hover {
    background-color: $color-pink;
    color: $color-white;
  }
}

.gs-icon {
  grid-area: icon;
  width: 4.5rem;
  height: 4.5rem;
}

.gs-title {
  @include display2;

  line-height: 1;
  grid-area: heading;
  text-decoration: none;
  text-align: center;

  @include media('>=tablet') {
    margin-top: 2rem;
  }
}

.gs-long-title {
  display: flex;
  flex-wrap: wrap;

  @include media('<=tablet') {
    justify-content: end;
  }
}

.gs-level {
  font-size: $font-0;
  grid-area: text;
  align-self: end;

  @include media('<=tablet') {
    justify-self: end;
  }
}

.gs-soon {
  display: block;
  position: absolute;
  padding: 0.4rem 0.7rem 0.5rem;
  background-color: $color-pink;
  border-radius: 0.75rem 0rem 0.25rem 0rem;
  font-size: $font--2;
  top: -1px;
  left: -2px;

  @include media('>=tablet') {
    font-size: $font--1;
    padding: 0.6rem 0.7rem 0.7rem;
    border-radius: 0.75rem 0rem 0.6rem 0rem;
  }
}
