:root {
  --tile-border-radius: 1.25rem;
}

.gs-main {
  background-color: $color-black;
  display: flex;
  column-gap: $space-s;
  row-gap: $space-m;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: stretch;

  // & > * {
  //   flex-grow: 1;
  //   flex-basis: 100%;

  //   @include media('>=tablet') {
  //     flex-grow: unset;
  //     flex-basis: 11.25rem;
  //   }
  // }

  & > :nth-child(n + 1) {
    border: 6px solid $color-game-tile-red;
  }
}

.gs-tile-content-wrapper {
  padding: 1rem;
  background-color: darken($color-game-tile-red, 30%);
  border-bottom-left-radius: var(--tile-border-radius);
}

.gs-tile {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'title title title title'
    'text text text icon'
    'level link link link';
  gap: 1rem;
  padding: 1rem;
  background-color: darken($color-game-tile-red, 30%);
  color: $color-white;
  border-top-right-radius: var(--tile-border-radius);
  border-bottom-left-radius: var(--tile-border-radius);
  text-decoration: none;
}

.gs-icon {
  grid-area: icon;
  justify-self: flex-end;
  width: 4.5rem;
  height: 4.5rem;
}

.gs-title {
  @include display2;

  grid-area: title;
  margin: -1rem -1rem 0;
  padding: 1.25rem 1rem;
  background-color: $color-game-tile-red;
  line-height: 1;
  text-decoration: none;
}

.gs-intro {
  grid-area: text;
  font-size: $font-0;
  line-height: 1.5;
}

.gs-icon {
  grid-area: icon;
}

.gs-text-icon-wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 250px) auto;

  & svg {
    grid-row: 1;
  }
}

.gs-long-title {
  display: flex;
  flex-wrap: wrap;
}

.gs-level-wrapper {
  grid-area: level;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;

  & circle {
    fill: $color-white;
  }
}

.gs-link {
  grid-area: link;
  justify-self: flex-end;
}
