.gp-intro-wrapper {
  @include body1;
  @include padding('top', 5);
  @include padding('bottom', 15);

  grid-column: 1 / -1;
  color: $color-white;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 2rem;

  @include media('>=tablet') {
    @include padding('top', 15);
    @include padding('bottom', 25);
  }

  @include media('>=desktop') {
    grid-column: 2 / -2;
  }
}

.gp-heading {
  @include display1;

  display: flex;
  column-gap: 1rem;
  text-transform: capitalize;
}

.gp-year {
  font-size: clamp($font-size-caption-3, 2cqw, $font-size-caption-1);
  font-weight: $font-weight-regular;
  line-height: clamp(18px, 3vw, 36px);
}

.gp-details-wrapper {
  grid-column: 1 / -1;
  display: grid;
  row-gap: clamp(32px, 6vw, 100px);

  & > div {
    display: grid;
    row-gap: clamp(24px, 2vw, 32px);
  }

  @include media('>=desktop') {
    grid-column: 1 / 15;
  }
}

.gp-details-heading {
  text-transform: uppercase;
}

.gp-tabs-wrapper {
  @include body1;
  @include verticalPadding(15, 25);

  grid-column: 1 / -1;

  @include media('>=desktop') {
    grid-column: 2 / -2;
  }
}

.gp-heading-wrapper {
  grid-column: 1 / -1;
  display: grid;
  row-gap: 5rem;

  & > button {
    justify-self: center;
  }

  @include media('>=tablet') {
    grid-auto-flow: column;

    & > .gp-heading {
      grid-column: 1;
    }

    & > .gp-game-button {
      justify-self: end;
      grid-column: 2;
    }
  }
}

.gp-game-button {
  @include button1;

  width: fit-content;
  padding: 1rem 1.5rem;
}

.gp-game-button-text {
  @include button1;
}

.gp-gamesheet-content-wrapper {
  grid-column: 1 / -1;
}

.gp-gamesheet-heading-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.gp-gamesheet-heading {
  @include display1;

  text-transform: uppercase;
}

.gp-game-close-button {
  @include button1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

// .gp-gamesheet-wrapper {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   width: 100vw;
//   height: 100vh;
//   height: calc(var(--vh, 1vh) * 100);
//   transform: translateX(-100%);
//   transition: transform ease-out 0.5s;
// }

// .gp-gamesheet-wrapper.active {
//   transform: translateX(0);
//   transition: transform ease-out 0.5s;
// }

.modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
  &.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 0.75s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    &.out {
      transform: scale(1);
      animation: unfoldOut 0.75s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
