.gp-intro {
  @include verticalPadding($space-4xl-6xl);
}

.gp-heading-wrapper {
  grid-column: 1 / -1;
  display: grid;
  row-gap: 5rem;

  & > button {
    justify-self: center;
  }

  @include media('>=tablet') {
    grid-auto-flow: column;

    & > .gp-heading {
      grid-column: 1;
    }

    & > .button {
      justify-self: end;
      align-self: baseline;
      grid-column: 2;
    }
  }

  @include media('>=desktop') {
    grid-column: 2 / -2;
  }
}

.gp-heading {
  @include display1;

  color: $color-white;
  display: flex;
  column-gap: 1rem;
}

.gp-year {
  font-size: $font--1;
  font-weight: $font-weight-regular;
}

.gp-details-wrapper {
  @include body;

  grid-column: 1 / -1;
  display: grid;
  color: $color-white;

  @include media('>=desktop') {
    grid-column: 2 / -2;
  }
}

.gp-intro-wrapper {
  grid-column: 1 / -1;
}

.gp-intro-text {
  @include body;

  grid-column: 1 / -1;
  color: $color-white;

  @include media('>=desktop') {
    grid-column: 2 / -2;
  }
}

.gp-tabs {
  @include verticalPadding($space-4xl-6xl);
}

.gp-tabs-wrapper {
  @include body;

  grid-column: 1 / -1;
  display: grid;

  @include media('>=desktop') {
    grid-column: 2 / -2;
  }
}

.gp-game-layout {
  grid-column: 1 / -1;
  justify-self: center;
}

.gp-details-title {
  font-size: $font-0;
  font-weight: $font-weight-bold;
}

.gp-down-icon {
  justify-self: center;
}
