.gp-intro {
  @include verticalPadding($space-4xl-6xl);
}

.gp-image {
  grid-column: 2 / -2;

  @include media('>=tablet') {
    grid-column: 8 / -1;
  }

  @include media('>=desktop') {
    grid-column: 12 / -2;
  }
}

.grid.gp-section-wrapper {
  @include padding('top', 15);
  @include padding('bottom', 5);

  row-gap: 16vw;
}

.gp-play-button {
  grid-column: 1 / -1;
  white-space: nowrap;
  justify-self: center;
  column-gap: $space-xs;

  & svg {
    width: 2.5rem;
    height: auto;
  }
}

.gp-text-positioning {
  grid-column: 1 / -1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  row-gap: $space-s;

  @include media('>=tablet') {
    grid-column: 1 / 7;
    grid-row: 1;
  }

  @include media('>=desktop') {
    grid-column: 2 / 11;
  }
}

.gp-heading-wrapper {
  grid-column: 1 / -1;
  display: grid;
  row-gap: 5rem;

  @include media('>=tablet') {
    grid-auto-flow: column;

    & > .gp-heading {
      grid-column: 1;
    }

    & > .button {
      justify-self: end;
      align-self: baseline;
      grid-column: 2;
    }
  }

  @include media('>=desktop') {
    grid-column: 2 / -2;
  }
}

.gp-heading {
  display: grid;
  font-size: $font-6;
  color: $color-white;
}

.gp-year {
  font-size: $font-1;
  font-weight: $font-weight-regular;
}

.gp-title {
  font-size: $font-5;
  font-weight: $font-weight-black;
  line-height: 1.2;
  word-break: keep-all;
}

.gp-details-wrapper {
  @include body;

  grid-column: 1 / -1;
  display: grid;
  color: $color-white;
  padding-left: $space-m-l;
  border-left: clamp(0.375rem, 1vw, 0.75rem) solid $color-white;

  @include media('>=desktop') {
    grid-column: 2 / -2;
  }
}

.gp-intro-text {
  @include body;

  grid-column: 1 / -1;
  color: $color-white;

  @include media('>=desktop') {
    grid-column: 2 / -2;
  }

  & > * {
    --stack-override: var(--space-default);
  }
}

.gp-tabs {
  @include verticalPadding($space-3xl-5xl);

  & .h-heading {
    color: $color-black;
  }

  & svg rect {
    fill: $color-black;
  }
}

.gp-tabs {
  @include body;

  grid-column: 1 / -1;
  display: grid;

  @include media('>=desktop') {
    grid-column: 2 / -2;
  }

  & .tb-tabs-wrapper {
    grid-column: 1 / -1;
    align-self: baseline;

    @include media('>=desktop') {
      grid-column: 2 / 8;
    }
  }
  & .tb-tabs-content {
    grid-column: 1 / -1;

    @include media('>=desktop') {
      grid-column: 9 / -2;
    }
  }
}

.gp-game-layout {
  grid-column: 1 / -1;
  justify-self: center;
}

.gp-details-title {
  font-size: $font-0;
  font-weight: $font-weight-bold;
}

.gp-down-icon {
  justify-self: center;
}

.gp-ghost-wrapper {
  grid-column: 3 / span 2;
  padding-bottom: $space-3xl-4xl;

  @include media('>=tablet') {
    grid-column: 5 / span 4;
  }

  @include media('>=desktop') {
    grid-column: 8 / span 4;
  }
}

.gp-game-wrapper {
  grid-column: 1 / -1;
  justify-self: center;
}

.modal-close-btn {
  all: unset;
  opacity: 0;
  transition: all 0.3s ease;
  position: fixed;
  top: 50%;
  transform: translate3d(-110%, -50%, 0);
  left: 1rem;
  z-index: 2;

  &:hover {
    cursor: pointer;
  }

  @include media('>=tablet') {
    opacity: 1;
    transform: translate3d(0, -50%, 0);
    transition: all 0.6s ease;
  }
}

.modal-close-svg {
  & circle {
    fill: $color-white;
  }

  & path {
    fill: $color-black;
  }
}

.modal-close-btn.hide {
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}
