@import '@styles/globals';

.gp-intro {
  @mixin verticalPadding var(--space-5xl-6xl);
}

.gp-image {
  grid-column: 2 / -2;

  @media (--viewport-tablet-min) {
    grid-column: 8 / -1;
  }

  @media (--viewport-desktop-min) {
    grid-column: 12 / -2;
  }
}

.grid.gp-section-wrapper {
  padding-top: var(--space-m-l);
  row-gap: var(--space-l-3xl);
}

.gp-play-button {
  white-space: nowrap;
  column-gap: var(--space-xs);

  & svg {
    width: 1.5rem;
    height: auto;
  }
}

.gp-text-positioning {
  grid-column: 1 / -1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-s);

  @media (--viewport-tablet-min) {
    grid-column: 1 / 7;
    grid-row: 1;
  }

  @media (--viewport-desktop-min) {
    grid-column: 2 / 11;
  }
}

.gp-heading-wrapper {
  grid-column: 1 / -1;
  display: grid;
  row-gap: 5rem;

  @media (--viewport-tablet-min) {
    grid-auto-flow: column;

    & > .gp-heading {
      grid-column: 1;
    }

    & > .button {
      justify-self: end;
      align-self: baseline;
      grid-column: 2;
    }
  }

  @media (--viewport-desktop-min) {
    grid-column: 2 / -2;
  }
}

.gp-heading {
  display: grid;
  font-size: var(--font-6);
  color: var(--color-white);
}

.gp-year {
  font-size: var(--font-1);
  font-weight: var(--font-weight-regular);
}

.gp-title {
  font-size: var(--font-5);
  font-weight: var(--font-weight-black);
  line-height: 1.2;
  word-break: keep-all;
}

.gp-details-wrapper {
  @mixin body;
  @mixin gridColumnUtil;

  & {
    display: grid;
    color: var(--color-white);
    padding-left: var(--space-m-l);
    border-left: clamp(0.375rem, 1vw, 0.75rem) solid var(--color-white);
  }
}

.gp-intro-text {
  @mixin body;
  @mixin gridColumnUtil;

  & {
    color: var(--color-white);

    & > * {
      --stack-override: var(--space-default);
    }
  }
}

.gp-tabs {
  @mixin body;
  @mixin verticalPadding var(--space-3xl-5xl);

  & .h-heading {
    color: var(--color-black);
  }

  & svg circle {
    fill: var(--color-black);
  }

  & .tb-tabs-wrapper {
    grid-column: 1 / -1;
    align-self: baseline;

    @media (--viewport-desktop-min) {
      grid-column: 2 / 8;
    }
  }
  & .tb-tabs-content {
    grid-column: 1 / -1;

    @media (--viewport-desktop-min) {
      grid-column: 9 / -2;
    }
  }
}

.gp-game-layout {
  grid-column: 1 / -1;
  justify-self: center;
}

.gp-details-title {
  font-size: var(--font-0);
  font-weight: var(--font-weight-bold);
}

.gp-down-icon {
  justify-self: center;
}

.gp-ghost-wrapper {
  grid-column: 3 / span 2;
  padding-bottom: var(--space-3xl-4xl);

  @media (--viewport-tablet-min) {
    grid-column: 5 / span 4;
  }

  @media (--viewport-desktop-min) {
    grid-column: 8 / span 4;
  }
}

.grid.gp-back-wrapper {
  @mixin paddingTop 5;

  & > a {
    grid-column: 1 / span 1;
  }
}

.gp-back-btn {
  all: unset;

  & svg {
    width: 4rem;
    height: auto;
    border: 2px solid var(--color-white);
    border-radius: 20rem;
  }
}
