@import '@styles/mixins';

.button {
  all: unset;
  @mixin button;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-white);
  background-color: var(--color-black);
  border-radius: var(--button-border-radius);
  user-select: none;
  width: fit-content;
  padding: 1rem 3rem;
  touch-action: manipulation;

  & span {
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-0);
  }

  &:hover {
    cursor: pointer;
  }
}

.button-reset {
  border: none;
  width: unset;
  background-color: unset;
  padding: 0;
}

.button-full-width {
  width: 100%;
}
