.row {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.empty-result, 
.empty-result::after {
  width: var(--cell-xl);
  height: var(--cell-xl);
  border-radius: 0.25rem;
  background-color:rgb(13, 62, 88);
}

.button {
  grid-area: button;
}

.hide {
  visibility: hidden;
  opacity: 0;
}
