.ab-content-wrapper {
  display: grid;
  row-gap: 5rem;
  color: $color-white;
}

.ab-text-heading {
  @include display2;
}

.ab-text-icon-wrapper {
  display: grid;
  row-gap: 5rem;
  justify-items: center;

  @include media('>=tablet') {
    align-items: center;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }
}
.ab-icon-wrapper {
  @include media('>=tablet') {
    grid-column: 1 / 5;
    grid-row: 1;
  }
  @include media('>=desktop') {
    grid-column: 1 / 8;
  }
}

.ab-text-wrapper {
  @include headingTextSpacing;

  color: $color-white;

  @include media('>=tablet') {
    grid-column: 6 / -1;
    grid-row: 1;
  }
  @include media('>=desktop') {
    grid-column: 9 / -2;
  }
}

.ab-text {
  @include body1;
}

.svg-button-wrapper.ab-space-button-wrapper {
  padding: 1rem 6rem;
  width: auto;
}

.svg-button-wrapper.ab-ctrl-button-wrapper {
  padding: 1rem 3rem;
  width: auto;
}

.ab-button-text {
  font-size: clamp($font-size-button-2, 3vw, $font-size-button-1);
  color: $color-white;
  text-align: center;
  font-weight: $font-weight-bold;
}
