.ab-text-heading {
  @include display2;
}

.ab-text-icon-wrapper {
  display: grid;
  grid-column: 1 / -1;
  row-gap: $space-2xl;
  justify-items: center;

  @include media('>=tablet') {
    align-items: center;
    grid-template-columns: subgrid;
  }
}

.ab-svg {
  grid-column: 2 / -2;
  max-width: 21rem;

  @include media('>=tablet') {
    grid-column: 1 / 4;
  }

  @include media('>=desktop') {
    grid-column: 3 / 7;
  }
}

.ab-text-wrapper {
  color: $color-white;
  grid-column: 1 / -1;
  justify-self: start;

  @include media('>=tablet') {
    grid-column: 5 / -1;
    grid-row: 1;
  }

  @include media('>=desktop') {
    grid-column: 9 / -3;
  }
}

.ab-text-icon-wrapper-flip {
  .ab-svg {
    @include media('>=tablet') {
      grid-column: 10 / -1;
      grid-row: 1;
    }

    @include media('>=desktop') {
      grid-column: 13 / -3;
    }
  }

  .ab-text-wrapper {
    @include media('>=tablet') {
      grid-column: 1 / 9;
    }

    @include media('>=desktop') {
      grid-column: 3 / 11;
    }
  }
}

.ab-text {
  @include body;
}

.ab-button-text {
  @include button;

  color: $color-white;
  text-align: center;
}
