.ab-text-heading {
  @include display2;
}

.ab-text-icon-wrapper {
  display: grid;
  row-gap: $space-2xl;
  justify-items: center;

  @include media('>=tablet') {
    align-items: center;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }
}
.ab-svg {
  width: 80%;
  max-width: 18rem;

  @include media('>=tablet') {
    grid-column: 1 / 5;
    grid-row: 1;
  }
  @include media('>=desktop') {
    grid-column: 1 / 8;
  }
}

.ab-text-wrapper {
  display: grid;
  color: $color-white;

  @include media('>=tablet') {
    grid-column: 6 / -1;
    grid-row: 1;
  }
  @include media('>=desktop') {
    grid-column: 9 / -2;
  }
}

.ab-text {
  @include body;
}

.ab-button-text {
  @include button;

  color: $color-white;
  text-align: center;
}
