.panel-wrapper {
  display: grid;
  row-gap: 1rem;
  background-color: $modal-black;
  padding: 0.5rem;
  border-radius: 0.125rem;
  outline: 1px solid #454545;

  @include media('>=tablet') {
    padding: 1rem;
  }
}

.panel {
  display: grid;
  row-gap: 0.25rem;
  height: 100%;
  align-content: center;
}

.panel-text {
  display: block;
  margin: 0;
  font-size: 0.75rem;

  @include media('>=tablet') {
    font-size: 1rem;
  }
}

.panel-text-bold {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}
