.panel-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.panel {
  display: grid;
  row-gap: 0.25rem;
  background-color: $modal-black;
  padding: 0.5rem;
  border-radius: 0.125rem;
  outline: 1px solid #454545;

  @include media('>=tablet') {
    padding: 1rem;
  }

  & > :first-child {
    border-bottom: 0.5px solid $color-not-white;
    padding-bottom: 0.35rem;
  }
}

.panel-text {
  display: block;
  margin: 0;
  font-size: 0.5rem;

  @include media('>=tablet') {
    font-size: 1rem;
  }
}

.panel-text-bold {
  font-size: 0.5rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  @include media('>=tablet') {
    font-size: 1rem;
  }
}
