@import '@styles/mixins';

.tb-tabs-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--space-s);
  column-gap: var(--space-xs);
  position: sticky;
  top: 0;
  padding-top: var(--space-m);
}

.tb-tabs-wrapper::-webkit-scrollbar {
  display: none;
}

.tb-tab-button {
  all: unset;
  @mixin body;

  background-color: var(--color-grey);
  border-radius: 3.125rem;
  border: 3px solid var(--color-black);
  color: var(--color-black);
  font-weight: var(--font-weight-bold);
  align-self: center;
  padding: 0.75rem 1.25rem;
  white-space: nowrap;
  user-select: none;
}

.tb-tab-button-active {
  background-color: var(--color-black);
  color: var(--color-white);
  transform: rotate(-6deg);
}

.tb-tabs-content {
  & ol,
  & ul {
    @mixin body;

    margin-block-end: 1rem;
    margin-block-start: 1rem;
    list-style-position: inside;
  }

  & > :first-child {
    margin-block-start: 0;
  }
}
