.tb-wrapper {
  display: grid;
  row-gap: $space-l;
}

.tb-tabs-wrapper {
  display: flex;
  gap: $space-xs;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;

  & > * {
    flex: 1;
  }

  @include media('>=tablet') {
    flex-flow: row wrap;
  }
}

.tb-tabs-wrapper::-webkit-scrollbar {
  display: none;
}

.tb-tab-button {
  all: unset;
  @include body;

  background-color: $color-yellow;
  border-radius: 3.125rem;
  border: 2px solid $color-black;
  color: $color-black;
  font-weight: $font-weight-bold;
  justify-self: center;
  align-self: center;
  padding: 0.75rem 1.25rem;
  white-space: nowrap;
  scroll-snap-align: center;
}

.tb-tab-button-active {
  @include iconShadow;

  background-color: $color-black;
  color: $color-white;
}

// .tb-tabs-content-wrapper ol {
//   @include body;

//   list-style-position: inside;
//   padding: 0;

//   & > * + * {
//     margin-top: $space-s;
//   }
// }
