.sb-scrollbar {
  height: clamp(2.625rem, 5vw, 3rem);
  background-color: $color-pink;
  background-repeat: repeat-x;
  background-position: center;
}

.sb-insert-coin {
  background-image: url('/src/assets/insert-coin.svg');
}

.sb-game-over {
  background-image: url('/src/assets/game-over.svg');
}