.minesweeper-board {
  .mine-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    &[data-value='-1'] {
      background-color: #808080;
    }

    &[data-value='9'] {
      background-image: url('@svg/games/mine.svg');
      background-repeat: no-repeat;
      background-position: calc(50% - 1px) calc(50% - 1px);
      background-size: 1.4rem;
    }

    &[data-value='9']::after {
      background-color: transparent;
      display: contents;
    }

    &[data-value='-1']:hover {
      cursor: pointer;
      background-color: #b6b6b6;
    }

    &:after {
      all: unset;
    }
  }
}
