.minesweeper-board {
  .mine-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    width: 1.5rem;
    height: 1.5rem;

    &[data-value='-1'] {
      background-color: #b2b2b2;
    }

    &[data-value='9'] {
      background-image: url('@svg/games/mine.svg');
      background-repeat: no-repeat;
      background-position: calc(50% - 1px) calc(50% - 1px);
      background-size: 1.4rem;
    }

    &[data-value='9']::after {
      background-color: transparent;
      display: contents;
    }

    &[data-value='10'] {
      background-image: url('@svg/games/flag.svg');
      background-repeat: no-repeat;
      background-position: calc(50% - 1px) calc(50% - 1px);
      background-size: 1.4rem;
      background-color: #b2b2b2;
    }

    &[data-value='10'],
    &[data-value='-1']:hover {
      cursor: pointer;
      background-color: #808080;
    }

    &:after {
      all: unset;
      width: 1.5rem;
      height: 1.5rem;
    }

    @include media('>=tablet') {
      width: 2.5rem;
      height: 2.5rem;

      &:after {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
