.controls {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(1fr, 3);
  grid-template-rows: repeat(1fr, 2);

  & svg {
    width: auto;
    height: 1.5rem;
  }
}

.left {
  grid-column: 1;
  grid-row: 2;
  }

.right {
  grid-column: 2;
  grid-row: 2;
  }

.down {
  grid-column: 3;
  grid-row: 2;
  }

.rotate {
  grid-column: 3;
  grid-row: 1;
  }