.grid.go-text-wrapper {
  @include verticalPadding(10, 15);
}

.go-text {
  font-size: $font-4;

  grid-column: 1 / -1;
  justify-self: center;
  color: $color-white;
}

.go-text-thin {
  font-weight: $font-weight-light;
}
