.button {
  width: 100%;
  min-height: var(--button-height);
  background-position: center center;
  margin: 0;
  padding: 1rem;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-color: var(--color-white);
  border: none;
  user-select: none;
  touch-action: manipulation;

  &:hover {
    cursor: pointer;
  }
}

.button + .button {
  border-left: 1px dashed grey;
}