@mixin display1 {
  font-size: $font-size-display-1;
  line-height: $line-height-display-1;
}

@mixin display2 {
  font-size: $font-size-display-2;
  line-height: $line-height-display-2;
}

@mixin display3 {
  font-size: $font-size-display-3;
  line-height: $line-height-display-3;
}

@mixin display4 {
  font-size: $font-size-display-4;
  line-height: $line-height-display-4;
}

@mixin display5 {
  font-size: $font-size-display-5;
  line-height: $line-height-display-5;
}

@mixin iconShadow {
  -webkit-filter: drop-shadow(8px 8px 4px rgba(229, 84, 150, 0.8));
  -moz-filter: drop-shadow(8px 8px 4px rgba(229, 84, 150, 0.8));
  filter: drop-shadow(8px 8px 4px rgba(229, 84, 150, 0.8));
}

@mixin padding($dir, $value) {
  #{'padding-#{$dir}'}: $value * 1vh;
  #{'padding-#{$dir}'}: calc(var(--vh, 1vh) * $value);
}

@mixin verticalPadding($value1, $value2: null, $value3: null) {
  #{padding-top}: $value1 * 1vh;
  #{padding-top}: calc(var(--vh, 1vh) * $value1);
  #{padding-bottom}: $value1 * 1vh;
  #{padding-bottom}: calc(var(--vh, 1vh) * $value1);

  @if ($value2) {
    @include media('>=tablet') {
      #{padding-top}: $value2 * 1vh;
      #{padding-top}: calc(var(--vh, 1vh) * $value2);
      #{padding-bottom}: $value2 * 1vh;
      #{padding-bottom}: calc(var(--vh, 1vh) * $value2);
    }
  }

  @if ($value3) {
    @include media('>=desktop') {
      #{padding-top}: $value3 * 1vh;
      #{padding-top}: calc(var(--vh, 1vh) * $value3);
      #{padding-bottom}: $value2 * 1vh;
      #{padding-bottom}: calc(var(--vh, 1vh) * $value3);
    }
  }
}
