@mixin display1 {
  font-size: $font-3;
  font-weight: $font-weight-bold;
}

@mixin display2 {
  font-size: $font-2;
  font-weight: $font-weight-bold;
}

@mixin body {
  font-size: $font-0;
  font-weight: $font-weight-regular;
}

@mixin link {
  font-size: $font--2;
  font-weight: $font-weight-bold;
}
@mixin button {
  font-size: $font-0;
  font-weight: $font-weight-bold;
}

@mixin buttonStyle {
  all: unset;
  @include button;
  @include iconShadow;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $color-white;
  background-color: $color-black;
  border-radius: $button-border-radius;
  user-select: none;

  & span {
    color: $color-white;
    font-weight: $font-weight-bold;
    font-size: $font-0;
  }
}

@mixin iconShadow {
  -webkit-filter: drop-shadow(8px 8px 4px rgba(229, 84, 150, 0.8));
  -moz-filter: drop-shadow(8px 8px 4px rgba(229, 84, 150, 0.8));
  filter: drop-shadow(8px 8px 4px rgba(229, 84, 150, 0.8));
}

@mixin padding($dir, $value) {
  #{'padding-#{$dir}'}: $value * 1vh;
  #{'padding-#{$dir}'}: calc(var(--vh, 1vh) * $value);
}

@mixin verticalPadding($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin tileColor($color) {
  border-color: $color;
  background-color: darken($color, 30%);

  & > :first-child {
    background-color: $color;
  }
}
