/* Spacing */
$space-3xs: clamp(0.25rem, 0.2118rem + 0.1912vi, 0.375rem);
$space-2xs: clamp(0.5rem, 0.4235rem + 0.3824vi, 0.75rem);
$space-xs: clamp(0.75rem, 0.6353rem + 0.5736vi, 1.125rem);
$space-s: clamp(1rem, 0.847rem + 0.7648vi, 1.5rem);
$space-m: clamp(1.5rem, 1.2706rem + 1.1472vi, 2.25rem);
$space-l: clamp(2rem, 1.6941rem + 1.5296vi, 3rem);
$space-xl: clamp(3rem, 2.5411rem + 2.2945vi, 4.5rem);
$space-2xl: clamp(4rem, 3.3881rem + 3.0593vi, 6rem);
$space-3xl: clamp(6rem, 5.0822rem + 4.5889vi, 9rem);
$space-4xl: clamp(8rem, 6.7763rem + 6.1185vi, 12rem);
$space-5xl: clamp(10rem, 8.4704rem + 7.6482vi, 15rem);
$space-6xl: clamp(12rem, 10.1644rem + 9.1778vi, 18rem);

/* Custom pairs */
$space-l-xl: clamp(2rem, 1.2352rem + 3.8241vi, 4.5rem);
$space-xl-2xl: clamp(3rem, 2.0822rem + 4.5889vi, 6rem);
$space-2xl-3xl: clamp(4rem, 2.4704rem + 7.6482vi, 9rem);
$space-3xl-4xl: clamp(6rem, 4.1644rem + 9.1778vi, 12rem);
$space-3xl-5xl: clamp(6rem, 3.2467rem + 13.7667vi, 15rem);
$space-4xl-6xl: clamp(8rem, 4.9407rem + 15.2964vi, 18rem);
