/* Font sizes */
$font--2: clamp(0.64rem, 0.5775rem + 0.3123cqi, 0.8442rem);
$font--1: clamp(0.8rem, 0.7005rem + 0.4976cqi, 1.1253rem);
$font-0: clamp(1rem, 0.847rem + 0.7648cqi, 1.5rem);
$font-1: clamp(1.25rem, 1.0207rem + 1.1465cqi, 1.9995rem);
$font-2: clamp(1.5625rem, 1.2251rem + 1.6869cqi, 2.6653rem);
$font-3: clamp(1.9531rem, 1.4637rem + 2.4471cqi, 3.5529rem);
$font-4: clamp(2.4414rem, 1.7394rem + 3.5099cqi, 4.736rem);
$font-5: clamp(3.0518rem, 2.054rem + 4.9887cqi, 6.3131rem);
$font-6: clamp(3.8147rem, 2.4072rem + 7.0373cqi, 8.4153rem);

/* Fonts */
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;

/* Borders */
$button-border-radius: 0.75rem;

/* Colours */
$color-yellow: #f4d34b;
$color-black: #1e342c;
$color-pink: #e55496;
$color-teal: #41ead4;
$color-white: #fefefe;

/* Grid */
$grid-phone: repeat(2, 1fr);
$grid-tablet: repeat(12, 1fr);
$grid-desktop: repeat(18, 1fr);

/* Margins */
$margin-horizontal-1: 1rem;
$margin-horizontal-2: 2rem;
$margin-horizontal-3: 3.75rem;

$pink-decoration: clamp(1rem, 2.5vw, 2.5rem);
