/* Display */
$font-size-display-1: 5.25rem;
$font-size-display-2: 3.375rem;
$font-size-display-3: 2.625rem;
$font-size-display-4: 2rem;
$font-size-display-5: 1.5rem;
$font-size-display-6: 1rem;

/* Special */
$font-size-homepage-heading-1: 10rem;
$font-size-homepage-heading-2: 4.375rem;
$font-size-homepage-heading-3: 2rem;

/* Headings */
$font-size-heading-1: 2.625rem;
$font-size-heading-2: 1.5rem;
$font-size-heading-3: 1rem;

/* Body */
$font-size-body-1: 2rem;
$font-size-body-2: 1.5rem;
$font-size-body-3: 1rem;

/* Button */
$font-size-button-1: 1.5rem;
$font-size-button-2: 1rem;

$button-border-radius: 0.75rem;

/* Link */
$font-size-link: 1rem;

/* Caption */
$font-size-caption-1: 1.5rem;
$font-size-caption-2: 1rem;
$font-size-caption-3: 0.75rem;

/* Colours */
$color-yellow: #f4d34b;
$color-black: #1e342c;
$color-pink: #e55496;
$color-teal: #41ead4;
$color-white: #fefefe;

/* Grid */
$grid-phone: repeat(2, 1fr);
$grid-tablet: repeat(12, 1fr);
$grid-desktop: repeat(18, 1fr);

/* Fonts */
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;

/* Margins */
$margin-horizontal-1: 1rem;
$margin-horizontal-2: 2rem;
$margin-horizontal-3: 3.75rem;
