.grid {
  display: grid;
  grid-template-columns: $grid-phone;
  padding: 0 $margin-horizontal-1;

  @include media('>=tablet') {
    grid-template-columns: $grid-tablet;
    padding: 0 $margin-horizontal-2;
  }

  @include media('>=desktop') {
    grid-template-columns: $grid-desktop;
    padding: 0 $margin-horizontal-2;
  }
}

.vertical-padding-25 {
  padding-top: 25vh;
  padding-bottom: 25vh;
  padding-top: calc(var(--vh, 1vh) * 25);
  padding-bottom: calc(var(--vh, 1vh) * 25);
}

.icon-shadow {
  @include iconShadow;
}

.icon-resp-w {
  width: clamp(2.5rem, 6cqw, 5rem);
  height: auto;
}

.icon-resp-h {
  width: auto;
  height: clamp(2.5rem, 6.5cqw, 5rem);
}

body {
  font-family: 'Archivo', sans-serif;
  font-optical-sizing: auto;
  font-weight: $font-weight-regular;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

/* .archivo-<uniquifier> {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
