.grid {
  display: grid;
  grid-template-columns: $grid-phone;
  padding: 0 $margin-horizontal-1;

  @include media('>=tablet') {
    grid-template-columns: $grid-tablet;
    padding: 0 $margin-horizontal-2;
  }

  @include media('>=desktop') {
    grid-template-columns: $grid-desktop;
    padding: 0 $margin-horizontal-2;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1920px) 1fr;

  & > * {
    grid-column: 2;
  }
}

.background-black {
  background-color: $color-black;
}

.background-yellow {
  background-color: $color-yellow;
}

.background-teal {
  background-color: $color-teal;
}

.section-spacing {
  @include verticalPadding(15, 25, 35, 45);

  row-gap: clamp(192px, 25vw, 332px);
}

.section-heading-spacing {
  row-gap: clamp(64px, 10vw, 88px);
}

.icon-shadow {
  @include iconShadow;
}

.icon-resp-w {
  width: clamp(2.5rem, 6vw, 5rem);
  height: auto;
}

.icon-resp-h {
  width: auto;
  height: clamp(2.5rem, 6vw, 5rem);
}

p {
  max-width: 70ch;
}

body {
  font-family: 'Archivo', sans-serif;
  font-optical-sizing: auto;
  font-weight: $font-weight-regular;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

button:hover {
  cursor: pointer;
}
