.grid {
  display: grid;
  grid-template-columns: $grid-phone;
  padding: 0 $margin-horizontal-1;

  @include media('>=tablet') {
    grid-template-columns: $grid-tablet;
    padding: 0 $margin-horizontal-2;
  }

  @include media('>=desktop') {
    grid-template-columns: $grid-desktop;
    padding: 0 $margin-horizontal-2;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1920px) 1fr;

  & > * {
    grid-column: 2;
  }
}
