@import '@styles/globals';

.grid {
  display: grid;
  grid-template-columns: var(--grid-phone);
  padding: 0 var(--margin-horizontal-1);

  @media (--viewport-tablet-min) {
    grid-template-columns: var(--grid-tablet);
    padding: 0 var(--margin-horizontal-2);
  }

  @media (--viewport-desktop-min) {
    grid-template-columns: var(--grid-desktop);
    padding: 0 var(--margin-horizontal-2);
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1920px) 1fr;
  position: relative;

  & > * {
    grid-column: 2;
  }
}
