@define-mixin display1 {
  font-size: var(--font-3);
  font-weight: var(--font-weight-bold);
}

@define-mixin display2 {
  font-size: var(--font-2);
  font-weight: var(--font-weight-bold);
}

@define-mixin body {
  font-size: var(--font-0);
  font-weight: var(--font-weight-regular);
}

@define-mixin link {
  font-size: $font--1;
  font-weight: $font-weight-bold;
}

@define-mixin button {
  font-size: $font-0;
  font-weight: $font-weight-bold;
}

@define-mixin padding $dir, $value {
  --dynamic-padding: calc(var(--vh, 1vh) * $value);
  @if $dir == 'top' {
    padding-top: var(--dynamic-padding);
  }
  @if $dir == 'bottom' {
    padding-bottom: var(--dynamic-padding);
  }
  @if $dir == 'left' {
    padding-left: var(--dynamic-padding);
  }
  @if $dir == 'right' {
    padding-right: var(--dynamic-padding);
  }
}

@define-mixin verticalPadding $padding {
  padding-top: $padding;
  padding-bottom: $padding;
}

@define-mixin tileColor $color {
  border-color: $color;
  background-color: color.adjust($color, $lightness: -20%);

  & > :first-child {
    background-color: $color;
  }
}

@define-mixin gridColumnUtil {
  grid-column: 1 / -1;
}
