@define-mixin display1 {
  font-size: var(--font-3);
  font-weight: var(--font-weight-bold);
}

@define-mixin display2 {
  font-size: var(--font-2);
  font-weight: var(--font-weight-bold);
}

@define-mixin body {
  font-size: var(--font-0);
  font-weight: var(--font-weight-regular);
}

@define-mixin link {
  font-size: var(--font--1);
  font-weight: var(--font-weight-bold);
}

@define-mixin button {
  font-size: var(--font-0);
  font-weight: var(--font-weight-bold);
}

@define-mixin paddingTop $value {
  padding-top: calc(var(--vh, 1vh) * $value);
}

@define-mixin paddingBottom $value {
  padding-bottom: calc(var(--vh, 1vh) * $value);
}

@define-mixin verticalPadding $padding {
  padding-top: $padding;
  padding-bottom: $padding;
}

/* @define-mixin tileColor $color {
  border-color: $color;
  background-color: color-mod($color a(-20%));

  & > :first-child {
    background-color: $color;
  }
} */

@define-mixin gridColumnUtil {
  grid-column: 1 / -1;
}
