@use 'sass:meta';
@use './spacings' as spacing;

$spacingMap: meta.module-variables('spacing');

// Default stack 
[data-stack] > * + * {
  --stack-override: var(--stack-default);
  margin-block-start: var(--stack-override, var(--stack-default));
}

// Loop SCSS spacingMap variables to create --stack-override for each 'space'
@each $name, $space in $spacingMap {
  [data-stack='#{$name}'] > * + * {
    --stack-override: #{$space};
  }
}

// Loop SCSS 'spacing' variables to create :root CSS variables
:root {
  @each $name, $space in $spacingMap {
    --#{$name}: #{$space};
  }
}
