@import '@styles/mixins';

h1,
h2,
h3,
h4 {
  line-height: 1.3;
  max-width: 40ch;
}

p,
li {
  line-height: 1.6;
  max-width: 60ch;
}

a {
  line-height: 1;
}

.button,
.button > * {
  line-height: 1;
  text-transform: uppercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

ol {
  @mixin body;

  list-style-position: inside;
  padding: 0;

  & > * + * {
    margin-top: var(--space-xs);
  }
}

ul {
  @mixin body;

  list-style-type: circle;
  list-style-position: inside;
  
  &:not(ol > &):has( > li) {
    padding: 0;
  }
}

code {
  color: var(--color-code-light);
}
