.background-black {
  background-color: $color-black;
}

.background-yellow {
  background-color: $color-yellow;
}

.background-teal {
  background-color: $color-teal;
}

.section-spacing {
  @include verticalPadding(15, 25, 35, 40);

  row-gap: clamp(192px, 25vw, 332px);
}

.spacing1 {
  padding-top: $space-4xl-6xl;
  padding-bottom: $space-4xl-6xl;
  row-gap: $space-3xl-4xl;
}

.spacing2 {
  padding-top: $space-3xl-4xl;
  padding-bottom: $space-3xl-4xl;
}

.section-heading-spacing > * + * {
  padding-top: $space-xl-2xl;
}

.icon-shadow {
  @include iconShadow;
}

.icon-resp-w {
  width: clamp(2.5rem, 6vw, 5rem);
  height: auto;
}

.icon-resp-h {
  width: auto;
  height: clamp(2.5rem, 6vw, 5rem);
}
