.background-black {
  background-color: var(--color-background-black);
}

.background-yellow {
  background-color: var(--color-yellow);
}

.background-teal {
  background-color: var(--color-teal);
}

.background-grey {
  background-color: var(--color-grey);
}

.fluid-img {
  width: 100%;
  height: auto;
  overflow: visible;
}

.display-contents {
  display: contents;
}

.nice-wrap {
  text-wrap: balance;
}

.section-heading {
  grid-column: 1 / -1;
}

.unset {
  all: unset;
}

.off-screen {
  position: absolute; 
  left: -10000px
}
