.background-black {
  background-color: $color-black;
}

.background-yellow {
  background-color: $color-yellow;
}

.background-teal {
  background-color: $color-teal;
}

.background-grey {
  background-color: $color-grey;
}

.fluid-img,
.fluid-img svg {
  width: 100%;
  height: auto;
}

.display-contents {
  display: contents;
}

.nice-wrap {
  text-wrap: balance;
}

.section-heading {
  grid-column: 1 / -1;
}
