.background-black {
  background-color: $color-black;
}

.background-yellow {
  background-color: $color-yellow;
}

.background-teal {
  background-color: $color-teal;
}

.background-grey {
  background-color: $color-grey;
}

.fluid-img svg {
  width: 100%;
  height: 100%;
}

.display-contents {
  display: contents;
}
