.hm-section-wrapper {
  @include padding('top', 10);
  @include padding('bottom', 25);

  display: grid;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 80vw) minmax(1.2rem, 1fr);
  row-gap: 16vw;

  @include media('>=tablet') {
    grid-template-columns: 5fr 6fr;
  }
}

.hm-logo-wrapper {
  grid-column: 2;
  display: flex;
  container-type: inline-size;
  justify-content: center;

  @include media('>=tablet') {
    grid-column: 1;
    justify-content: end;
  }
}

.hm-logo {
  width: 90cqw;
  height: auto;
}

.hm-image {
  grid-column: 1 / -1;

  @include media('>=tablet') {
    grid-column: 2;
  }
}

.hm-intro-wrapper {
  grid-column: 1 / -1;

  @include media('>=desktop') {
    grid-column: 2 / 15;
  }
}

.hm-enter-icon {
  @include iconShadow;

  transform: translateY(-30%);
  width: clamp(5.75rem, 10vw, 10.6rem);
  height: auto;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, 20%, 0);
}

.hm-section-heading-wrapper {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  grid-column: 1 / -1;
}

.hm-section-heading {
  @include body1;

  color: $color-white;
}

.hm-section-content-wrapper {
  grid-column: 1 / -1;

  @include media('>=desktop') {
    grid-column: 2 / -2;
  }
}

.grid.hm-levelup-section {
  @include verticalPadding(10, 15);

  & > * {
    grid-column: 1 / -1;

    @include media('>=desktop') {
      grid-column: 2 / -2;
    }
  }
}

.hm-about-wrapper {
  display: grid;
  row-gap: 5rem;

  @include media('>=tablet') {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    row-gap: 10rem;
  }
}
