.hm-section-wrapper {
  @include padding('top', 10);
  @include padding('bottom', 20);

  display: grid;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 80vw) minmax(1.2rem, 1fr);
  row-gap: 16vw;

  @include media('>=tablet') {
    grid-template-columns: 5fr 6fr;
  }
}

.hm-logo-wrapper {
  grid-column: 2;
  display: flex;
  container-type: inline-size;
  justify-content: center;

  @include media('>=tablet') {
    grid-column: 1;
    justify-content: end;
  }
}

.hm-logo {
  width: 90cqw;
  height: auto;
}

.hm-image {
  grid-column: 2;
}

.hm-intro-wrapper {
  grid-column: 1 / -1;

  @include media('>=desktop') {
    grid-column: 2 / 15;
  }
}

.hm-enter-wrapper {
  display: flex;
  justify-content: center;
  background: $color-black;
  padding-top: $space-2xl-3xl;
}

.hm-enter-icon {
  @include iconShadow;

  width: $space-2xl-3xl;
  height: auto;
}

.hm-intro {
  @include verticalPadding($space-4xl-6xl);
}

.hm-section-heading-wrapper {
  grid-column: 1 / -1;
}

.hm-section-content-wrapper {
  grid-column: 1 / -1;

  @include media('>=desktop') {
    grid-column: 2 / -2;
  }
}

.hm-level-up {
  @include verticalPadding($space-2xl-3xl);
}

.grid.hm-levelup-section {
  & > * {
    grid-column: 1 / -1;
  }
}

.hm-about {
  @include verticalPadding($space-4xl-6xl);
}

.hm-about-wrapper {
  display: grid;

  & > * + * {
    margin-top: $space-3xl-5xl;
  }

  @include media('>=tablet') {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }
}
