.grid.hm-section-wrapper {
  /* @include padding('top', 10);
  @include padding('bottom', 5); */

  row-gap: 16vw;
}

.hm-text-positioning {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: var(--tablet)) {
    grid-column: 1 / 6;
    justify-content: start;
  }

  @media (min-width: var(--desktop)) {
    grid-column: 2 / 10;
  }
}

.hm-pacman-svg {
  position: relative;
  grid-column: 2 / -2;
  max-width: 40rem;

  @media (min-width: var(--tablet)) {
    grid-column: 8 / -2;
  }

  @media (min-width: var(--desktop)) {
    grid-column: 12 / -3;
  }
}

.hm-intro-wrapper > * {
  grid-column: 1 / -1;

  @media (min-width: var(--desktop)) {
    grid-column: 2 / 15;
  }
}

.hm-enter-wrapper {
  display: flex;
  justify-content: center;
  background: var(--color-black);
  padding-top: var(--space-2xl-3xl);
}

.hm-intro,
.hm-games,
.hm-about {
  /* @include verticalPadding($space-5xl-6xl); */
}

.hm-games-content-wrapper {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: var(--space-s);
  row-gap: var(--space-m);

  @media (min-width: var(--desktop)) {
    grid-column: 2 / -2;
  }
}

.hm-level-up {
  /* @include verticalPadding($space-3xl-4xl); */

  & .grid {
    row-gap: var(--space-2xl-3xl);
  }
}

.hm-about-wrapper {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

.grid.hm-banner {
  /* @include verticalPadding($space-2xl-3xl); */
}
