@import '@styles/globals';
@import '@styles/mixins';

:global(.grid).sectionWrapper {
  @mixin paddingTop 20;
  @mixin paddingBottom 5;

  row-gap: 16vw;
}

.textPositioning {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--viewport-tablet-min) {
    grid-column: 1 / 7;
    justify-content: start;
  }

  @media (--viewport-desktop-min) {
    grid-column: 2 / 10;
  }
}

.pacmanSvgWrapper {
  position: relative;
  grid-column: 2 / -2;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-m);

  @media (--viewport-tablet-min) {
    grid-column: 8 / -2;
  }

  @media (--viewport-desktop-min) {
    grid-column: 12 / -3;
  }
}

.introWrapper > * {
  grid-column: 1 / -1;

  @media (--viewport-desktop-min) {
    grid-column: 2 / 15;
  }
}

.enterWrapper {
  display: flex;
  justify-content: center;
  background: var(--color-black);
  padding-top: var(--space-2xl-3xl);
}

.intro,
.games,
.about {
  @mixin verticalPadding var(--space-4xl-5xl);
}

.gamesContentWrapper {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: var(--space-s);
  row-gap: var(--space-m);

  @media (--viewport-desktop-min) {
    grid-column: 2 / -2;
  }
}

.levelUp {
  @mixin verticalPadding var(--space-3xl-4xl);

  & :global(.grid) {
    row-gap: var(--space-2xl-3xl);
  }
}

.aboutWrapper {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

.sectionContentWrapper {
  /* Section content wrapper styles */
}

:global(.grid).banner {
  @mixin verticalPadding var(--space-2xl-3xl);
}
