.layout-grid {
  display: grid;
  row-gap: 2rem;
  grid-column: 1 / -1;
}

.start-button {
  all: unset;
  color: $color-black;
  align-self: baseline;

  @include media('>=tablet') {
    font-size: 1.5rem;
  }

  @include media('<=desktop') {
    display: none;
  }
}

.overlay-text {
  font-size: 1rem;
  font-weight: $font-weight-bold;
  text-align: center;
  text-transform: uppercase;

  @include media('>=tablet') {
    font-size: 1.5rem;
  }
}

.overlay-text-wrapper {
  color: $color-white;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.game-controls-wrapper {
  align-self: end;
  grid-column: 1 / -1;
  display: none;

  @supports (padding: max(0px)) {
    padding-bottom: max(1.5rem, env(safe-area-inset-left));
  }

  @media (pointer: coarse) and (hover: none) and (max-width: 1024px) {
    display: flex;
  }
}

.overlay-wrapper {
  position: relative;
}

.game-side-details {
  display: flex;
  flex-direction: column;
}

.controls-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  row-gap: $space-xs;
}

.controls-text {
  font-size: $font--1;
  font-weight: $font-weight-bold;
}

.controls-list {
  font-size: $font--1;
  list-style: none;
  padding: 0;

  & li {
    line-height: 1.5;
  }
}
