.layout-grid {
  display: grid;
  row-gap: 2rem;
  grid-column: 1 / -1;
}

.start-button {
  all: unset;
  color: $color-black;
  align-self: baseline;

  @include media('>=tablet') {
    font-size: 1.5rem;
  }

  @include media('<=desktop') {
    display: none;
  }
}

.overlay-text {
  font-size: 1rem;
  font-weight: $font-weight-bold;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(#000000, 0.8);
  padding: 0.25rem 0.5rem;

  @include media('>=tablet') {
    font-size: 1.5rem;
  }
}

.overlay-text-wrapper {
  color: $color-white;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.game-controls-wrapper {
  align-self: end;
  grid-column: 1 / -1;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;

  @supports (padding: max(0px)) {
    padding-bottom: max(1.5rem, env(safe-area-inset-left));
  }

  @media (pointer: coarse) and (hover: none) and (max-width: 1024px) {
    opacity: 1;
  }

  @include media('>=desktop') {
    opacity: 0;
  }
}

.overlay-wrapper {
  position: relative;
  height: fit-content;
}

.game-side-details {
  display: grid;
  grid-template-rows: auto 1fr;
}

.controls-text {
  font-size: $font--1;
  font-weight: $font-weight-bold;
}

.controls-list {
  font-size: $font--1;
  list-style: none;
  padding: 0;

  & li {
    line-height: 1.5;
  }
}

.controls-text-wrapper {
  align-self: center;
}
