.divider {
  background-repeat: repeat-x;
  background-position: center top;
  height: 9rem;
}

.divider-yellow {
  background-image: url('@svg/global/circle-halves-yellow.svg');
}

.divider-black {
  background-image: url('@svg/global/circle-halves-black.svg');
}
