.svg-button-wrapper {
  @include iconShadow;

  display: flex;
  place-items: center;
  background: $color-black;
  border: 2px solid $color-white;
  border-radius: 12px;
  width: clamp(2.5rem, 6vw, 4rem);
  height: clamp(2.5rem, 6vw, 4rem);
  padding: 0.5rem;

  & > * {
    flex: 1;
  }

  // @include media('>=tablet') {
  //   width: 3rem;
  //   height: 3rem;
  // }
}
