.np-wrapper {
  display: flex;
  justify-content: space-between;
  @include padding('top', 15);
}

.np-link-wrapper {
  display: flex;
  row-gap: clamp(1rem, 4vw, 2rem);
  flex-direction: column;
  text-decoration: none;
  color: $color-black;

  & svg {
    @include iconShadow;
  }

  &:hover {
    svg path {
      fill: $color-white;
    }
  }
}

.np-title {
  @include display1;
}

.np-next {
  align-items: end;
  margin-left: auto;
}

.np-label {
  @include body;
}

.np-text-wrapper {
  display: flex;
  flex-direction: column;
}
