.np-wrapper {
  display: flex;
  justify-content: space-between;
  @include padding('top', 15);
}

.np-link-wrapper {
  display: flex;
  row-gap: clamp(1rem, 4vw, 2.5rem);
  flex-direction: column;
  text-decoration: none;
  color: $color-black;

  & svg {
    @include iconShadow;
  }

  &:hover {
    svg path {
      fill: $color-white;
    }
  }
}

.np-title {
  text-transform: uppercase;
  font-size: clamp($font-size-display-4, 4vw, $font-size-display-1);
  line-height: 1.2;
  font-weight: $font-weight-bold;
}

.np-next {
  align-items: end;
}

.np-label {
  font-size: clamp($font-size-body-3, 2cqw, $font-size-body-1);
  line-height: clamp(24px, 3vw, 48px);
}

.np-text-wrapper {
  display: flex;
  flex-direction: column;
}
