.np-wrapper {
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: $space-m;
  justify-content: space-around;
  justify-items: center;
}

.np-prev {
  grid-template-columns: clamp(3.75rem, 6cqw, 6.25rem) 1fr;
}

.np-next {
  grid-template-columns: 1fr clamp(3.75rem, 6cqw, 6.25rem);
}

.np-link-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: $space-s;
  text-decoration: none;
  color: $color-black;
}

.np-title {
  @include display1;

  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
