.snake-game-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto;
  gap: $space-s;
  color: $color-white;
}

.snake-score-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;

  & > * {
    grid-column: 2;
    justify-items: center;
    border-right: 1px solid #1e342c;
  }

  & > :last-child {
    border: none;
  }
}

.snake-board {
  grid-column: 2;

  & .board-cell,
  & .board-cell::after {
    @include media('>=tablet') {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  /* Snake colour */
  [data-value='1']::after {
    background: $color-white;
  }

  /* Food colour */
  [data-value='2']::after {
    background: #008000;
  }

  @include media('>=desktop') {
    grid-column: 1;
  }
}
