.snake-game-wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) auto;
  margin: 0 auto;
  gap: 1rem;
  color: $color-white;
}

.snake-panel-wrapper {
  gap: 0.5rem;
  display: flex;
}

.snake-board {
  grid-column: 2;

  & .board-cell,
  & .board-cell::after {
    @include media('>=tablet') {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  /* Snake colour */
  [data-value='1']::after {
    background: $color-white;
  }

  /* Food colour */
  [data-value='2']::after {
    background: #008000;
  }
}
