.modal-heading-wrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.modal-heading {
  @include display1;
}

.modal-close-button {
  @include buttonStyle;

  width: 2.5rem;
  height: 2.5rem;
}

.modal-container {
  position: fixed;
  overflow: hidden;
  height: 1px;
  width: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: height 0.5s ease, width 0.5s ease 0.5s;

  & .container {
    height: 100%;
  }

  & .grid {
    height: calc(var(--vh, 1vh) * 100);
    grid-template-rows: auto auto 1fr;
  }
}

.modal-container.active {
  height: 100%;
  width: 100%;
  transition: width 0.5s ease, height 0.5s ease 0.5s;
}
