@import '@styles/globals';

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  will-change: transform;
  width: 100vw;
  transition: width 0.25s ease-in;
  z-index: 5;

  @media (--viewport-tablet-min) {
    width: 40rem;
  }
}

.modal-game-wrapper {
  display: grid;
  position: relative;
  grid-template-rows: auto auto 1fr;
  row-gap: var(--space-s);
  /* padding: var(--space-s) 1rem calc(var(--ticker-height) + var(--space-s) + env(safe-area-inset-left)); */
  padding: var(--space-s) 1rem calc(var(--ticker-height) + var(--space-s));
  height: calc(var(--vh, 1vh) * 100);
  background-color: var(--color-modal-background);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.modal-close-svg-wrapper {
  position: fixed;
  padding-right: 1rem;
  top: 50%;
}

.modal-close-btn {
  all: unset;

  &:hover {
    cursor: pointer;
  }
}

.modal-close-svg {
  & circle {
    fill: var(--color-white);
  }

  & path {
    fill: var(--color-black);
  }
}

.modal-ticker {
  position: absolute;
  bottom: 0;
  right: 0;
}
