@import '@styles/globals';

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  will-change: transform;
  width: 100vw;
  transition: width 0.25s ease-in;

  @media (--viewport-tablet-min) {
    width: 40rem;
  }
}

.modal-game-wrapper {
  display: grid;
  position: relative;
  grid-template-rows: min-content minmax(9.75rem, 1fr);
  padding: $space-s 1rem 0;
  height: calc(calc(var(--vh, 1vh) * 100) - var(--ticker-height));
  background-color: var(--color-modal-background);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-close-svg-wrapper {
  position: fixed;
  padding-right: 1rem;
  top: 50%;

  @media (--viewport-tablet-min) {
    visibility: hidden;
  }
}

.modal-close-btn {
  all: unset;

  &:hover {
    cursor: pointer;
  }
}

.modal-close-svg {
  & circle {
    fill: var(--color-white);
  }

  & path {
    fill: var(--color-black);
  }
}
