.complexity-wrapper {
  grid-area: level;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.25rem;
}

.complexity-empty {
  width: 10px;
  height: 10px; 
  outline: 2px solid var(--color-grey);
  border-radius: 50%;
  margin: 2px;
}
