.ab-content-wrapper {
  display: grid;
  row-gap: 5rem;
  color: $color-white;
}

.ab-text-heading {
  font-size: clamp($font-size-display-5, 4cqw, $font-size-display-3);
  line-height: normal;
}

.ab-text-icon-wrapper {
  display: grid;
  row-gap: 5rem;
  justify-items: center;

  @include media('>=tablet') {
    align-items: center;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }
}
.ab-icon-wrapper {
  @include media('>=tablet') {
    grid-column: 1 / 5;
    grid-row: 1;
  }
  @include media('>=desktop') {
    grid-column: 1 / 8;
  }
}

.ab-text-wrapper {
  display: grid;
  row-gap: 1.5rem;
  color: $color-white;

  @include media('>=tablet') {
    grid-column: 6 / -1;
    grid-row: 1;
  }
  @include media('>=desktop') {
    grid-column: 9 / -1;
  }
}
