@import '@styles/mixins';

.lc-link {
  @mixin link;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  justify-items: start;
  gap: var(--space-2xs);
  color: var(--color-black);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  padding-bottom: 0.5rem;

  & svg {
    width: 1rem;
    height: auto;
  }
}
