.hm-levelup-wrapper {
  display: grid;
  grid-template-columns: subgrid;
  row-gap: $space-2xl;

  & > * {
    grid-column: 1 / -1;
  }

  @include media('>=desktop') {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
  }
}

.hm-levelup-svg {
  width: 80%;
  max-width: 10rem;
  justify-self: center;

  @include media('>=desktop') {
    grid-column: 1 / 8;
  }
}

.hm-levelup-image-wrapper {
  justify-self: center;
  display: flex;
  align-items: center;
  column-gap: 1rem;

  @include media('>=desktop') {
    grid-column: 1 / 8;
  }
}

.hm-levelup-image-wrapper svg {
  display: block;
  width: 40cqw;
  max-width: 10rem;
  height: auto;
}

.hm-levelup-text-wrapper {
  grid-row: 1;

  @include media('>=desktop') {
    grid-column: 9 / -2;
  }
}

.hm-levelup-heading {
  @include display2;
}

.hm-levelup-sub-heading {
  @include body;
}
