.l-up-text-wrapper {
  grid-column: 1 / -1;

  @include media('>=tablet') {
    grid-column: 2 / -2;
  }

  @include media('>=desktop') {
    grid-column: 9 / -2;
    grid-row: 1;
    align-self: center;
  }
}

.l-up-svg-wrapper {
  grid-column: 3 / span 2;
  align-self: center;
  justify-self: center;
  width: 100%;

  @include media('>=tablet') {
    grid-column: 5 / span 4;
  }

  @include media('>=desktop') {
    grid-row: 1;
    grid-column: 3 / span 3;
    justify-self: end;
  }
}

.l-up-svg {
  width: 80%;
  height: auto;
  max-width: 10rem;
}

.l-up-heading {
  @include display2;
}

.l-up-sub-heading {
  @include body;
}
