.l-up-text-wrapper {
  @include gridColumnUtil;

  @include media('>=desktop') {
    grid-column: 9 / -2;
    grid-row: 1;
    align-self: center;
  }
}

.l-up-svg {
  grid-column: 3 / span 2;
  justify-self: center;
  max-width: 10rem;

  @include media('>=tablet') {
    grid-column: 5 / span 4;
    align-self: center;
  }

  @include media('>=desktop') {
    grid-row: 1;
    grid-column: 3 / span 3;
    justify-self: end;
  }
}

.l-up-heading {
  @include display2;
}

.l-up-sub-heading {
  @include body;
}
