@import '@styles/globals';

.l-up-text-wrapper {
  @mixin gridColumnUtil;

  @media (--viewport-desktop-min) {
    grid-column: 8 / -3;
    grid-row: 1;
    align-self: center;
  }
}

.l-up-svg {
  grid-column: 3 / span 2;
  justify-self: center;
  max-width: 10rem;

  @media (--viewport-tablet-min) {
    grid-column: 5 / span 4;
    align-self: center;
  }

  @media (--viewport-desktop-min) {
    grid-row: 1;
    grid-column: 3 / span 3;
    justify-self: end;
  }
}

.l-up-heading {
  @mixin display2;
}

.l-up-sub-heading {
  @mixin body;
}
