.ft-footer {
  background-color: $color-teal;
}

.grid.ft-footer-wrapper {
  @include verticalPadding($space-5xl-6xl);
  row-gap: 16vw;
}

.ft-content-wrapper {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: min-content;

  @include media('>=desktop') {
    grid-column: 2 / 11;
  }
}

.ft-heading {
  @include display2;
}

.ft-text {
  @include body;
}

.ft-logo-wrapper {
  grid-column: 1 / -1;
  justify-self: center;
  padding-bottom: $space-xl;

  & svg {
    width: 8rem;
  }
}

.ft-footer-links {
  background-color: $color-black;
  padding: 2rem 0rem;
  border-top-left-radius: $component-border-radius;
  border-top-right-radius: $component-border-radius;
}

.ft-links-wrapper {
  @include gridColumnUtil;

  display: flex;
  justify-content: space-around;

  & .ft-links {
    color: $color-white;
  }
}

.ft-image {
  grid-column: 2 / span 4;

  @include media('>=tablet') {
    grid-column: 4 / span 6;
  }

  @include media('>=desktop') {
    grid-row: 1;
    grid-column: 12 / -2;
    align-self: center;
  }
}
