.ft-footer {
  background-color: $color-teal;
}

.grid.ft-footer-wrapper {
  padding-top: $space-3xl-4xl;
  padding-bottom: $space-3xl-4xl;
  row-gap: 16vw;
}

.ft-content-wrapper {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: min-content;

  @include media('>=largedesktop') {
    grid-column: 2 / 10;
  }
}

.ft-heading {
  @include display2;
}

.ft-text {
  @include body;
}

.ft-logo-wrapper {
  grid-column: 1 / -1;
  justify-self: center;
  padding-bottom: $space-xl;

  & svg {
    width: 8rem;
  }
}

.ft-footer-links {
  background-color: $color-black;
  padding: 2rem 0rem;
  border-top-left-radius: $component-border-radius;
  border-top-right-radius: $component-border-radius;
}

.ft-links-wrapper {
  grid-column: 1 / -1;
  display: flex;

  justify-content: space-between;

  @include media('>=tablet') {
    grid-column: 2 / -2;
  }

  @include media('>=desktop') {
    grid-column: 4 / 16;
  }
}

.ft-links {
  @include link;

  text-decoration: none;
  color: $color-white;
}

.ft-image {
  justify-self: center;
  grid-column: 1 / -1;
  display: grid;
  gap: $space-xl;

  @include media('>=largedesktop') {
    grid-row: 1;
    grid-column: 11 / -1;
    align-self: center;
  }
}
