@import '@styles/globals';
@import '@styles/mixins';

.ft-footer {
  background-color: var(--color-teal);
}

:global(.grid).ft-footer-wrapper {
  @mixin verticalPadding var(--space-5xl-6xl);
  row-gap: 16vw;
}

.ft-content-wrapper {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: min-content;
  align-self: center;

  @media (--viewport-desktop-min) {
    grid-column: 2 / 11;
  }
}

.ft-heading {
  @mixin display2;
}

.ft-text {
  @mixin body;
}

.ft-logo-wrapper {
  grid-column: 1 / -1;
  justify-self: center;
  padding-bottom: $space-xl;

  & svg {
    width: 8rem;
  }
}

.ft-footer-links {
  background-color: var(--color-black);
  padding: 2rem 0rem;
  border-top-left-radius: var(--component-border-radius);
  border-top-right-radius: var(--component-border-radius);
}

.ft-links-wrapper {
  @mixin gridColumnUtil;

  display: flex;
  justify-content: space-around;

  & .ft-links {
    color: var(--color-white);
  }
}

.ft-image {
  grid-column: 2 / span 4;

  @media (--viewport-tablet-min) {
    grid-column: 4 / span 6;
  }

  @media (--viewport-desktop-min) {
    grid-row: 1;
    grid-column: 12 / -2;
    align-self: center;
  }
}
