.answer-row {
  display: flex;
  column-gap: 0.5rem;
}

.answer-row-cell::after {
  content: '';
  display: block;
}

.answer-row-cell,
.answer-row-cell::after {
  background: var(--cell-background-color);
  outline: 1px solid var(--cell-outline-color);

}
