/*
  This file is used to style the global components of the games.
  It is used to style the games when they are embedded in a web page.
*/

:root {
  --cell-sm: 1rem;
  --cell-md: 1.5rem;
  --cell-lg: 2rem;
  --cell-xl: 2.5rem;
  --cell-background-color: #161616;
  --cell-outline-color: #454545;
  --font-weight-bold: 700;
  --color-black: #16261f;
  --color-white: #fffafa;
  --color-teal: #41ead4;
  --font-size-sm: 0.75rem;
  --font-size-md: 1.5rem;
}

.overlay-wrapper {
  position: relative;
  height: fit-content;
}

.game-instructions {
  color: var(--color-white);
}

.game-list {
  list-style: decimal-leading-zero;
  list-style-position: inside;
  padding: 0;
}

@media (min-width: 768px) {
  .hide-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .hide-desktop {
    display: none;
  }
}
