@import '@styles/globals';

.tl-text-logo-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  @media (--viewport-tablet-min) {
    gap: 1rem;
  }
}
