.tl-text-container {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 0.6rem;
}

.tl-text-logo-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  column-gap: 1rem;
}

.tl-logo-main-text {
  font-size: clamp(3.2rem, 9vw, 9rem);
  font-weight: $font-weight-bold;
  color: $color-black;
  letter-spacing: clamp(1rem, 2vw, 1.6rem);
  line-height: 0.7;
  z-index: 2;

  & > span {
    display: inline-block;
  }
}

.tl-logo-sub-text {
  font-size: clamp(1.5rem, 3.5vw, 4.5rem);
  font-weight: $font-weight-light;
  color: $color-black;
  letter-spacing: clamp(1rem, 3vw, 1.6rem);
}

.tl-bar-ball-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.3rem;

  @include media('>=tablet') {
    bottom: -0.5rem;
  }
}

.tl-text-pink-bar {
  display: block;
  height: $pink-decoration;
  width: 100%;
  background-color: $color-pink;
  z-index: 1;
}

.tl-text-pink-ball {
  display: block;
  background-color: $color-pink;
  width: $pink-decoration;
  height: $pink-decoration;
  border-radius: 50px;
  margin-left: 0.5rem;
  z-index: 1;
}
