.panel {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(2, min-content);
  justify-items: center;
  align-content: center;
  padding: 1rem;
  background: var(--bs-body-color);
  border-radius: var(--panel-border-radius);
  box-shadow: var(--panel-box-shadow);
}

.title {
  margin: 0;
  color: var(--bs-body-bg);
  font-size: 0.75rem;
  text-transform: uppercase;
}

.value {
  font-size: 1rem;
  margin: 0;
  color: var(--bs-body-bg);

  @media (min-width: 768px) {
    font-size: 1.2rem;
  }
}