.panel {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(2, min-content);
  justify-items: center;
  align-content: center;
  background: var(--panel-background);
  border-radius: var(--panel-border-radius);
  box-shadow: var(--panel-box-shadow);
}

.title {
  margin: 0;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-white);
}

.value {
  color: var(--color-white);
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 1.2rem;
  }
}