:root {
  --font-family: monospace;
  --font-size-xs: 2rem;
  --font-size-sm: 1.5rem;
  --color-white: #FFFFFF;
  --cell-small: 1rem;
  --cell-default: 1.5rem;
  --cell-background-color: #161616;
  --button-height: 3rem;
  --button-width: 3rem;
  --button-font-size: 1.5rem;
}

.data-wrapper {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  justify-items: center;
  align-content: center;
}

.data-title {
  margin: 0;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-white);
}

.data-value {
  color: var(--color-white);
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 1.2rem;
  }
}