// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';

:root {
  --bs-body-bg: #ffcb03;
  --bs-body-color: #1d1d1b;
  --bs-heading-color: #1e000e;
  --accent-color: #2b50aa;
}

// .accent-color {
//   color: var(--accent-color);
//   background-color: var(--accent-color);
//   border-color: var(--accent-color) !important;
// }
