.layout-grid {
  display: grid;
  row-gap: 2rem;
  grid-column: 1 / -1;
  // justify-self: center;
}

.start-button {
  all: unset;
  color: $color-black;
  align-self: baseline;

  @include media('>=tablet') {
    font-size: 1.5rem;
  }

  @include media('<=desktop') {
    display: none;
  }
}

.overlay-text {
  font-size: 1rem;
  font-weight: $font-weight-bold;
  text-align: center;
  text-transform: uppercase;

  @include media('>=tablet') {
    font-size: 1.5rem;
  }
}

.game-over-text {
  color: $color-white;
}

.overlay-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.controls-wrapper {
  align-self: end;
  grid-column: 1 / -1;
  display: none;

  @supports(padding: max(0px)) {
    padding-bottom: max(1.5rem, env(safe-area-inset-left));
}

  @media (pointer: coarse) and (hover: none) and (max-width: 1024px) {
    display: flex;
  }
}

.board-wrapper {
  position: relative;
}
