.b-wrapper {
  grid-column: 1 / -1;
  color: $color-white;
  gap: $space-s;
  display: flex;
  flex-direction: column;
  align-items: center;

  & svg {
    justify-self: center;
    width: $space-4xl;
    height: auto;
  }
}

.b-text {
  font-size: $font-2;
  font-weight: $font-weight-black;
  text-align: center;
  max-width: 80rem;

  @include media('>=desktop') {
    grid-column: 4 / 16;
  }
}

.b-spaceship-wrapper {
  justify-content: center;
  display: flex;
  gap: $space-l;
  margin-top: $space-l;

  & svg {
    max-width: 5rem;
  }

  @include media('<=tablet') {
    & > :last-child {
      display: none;
    }
  }
}

.b-spaceship-red path {
  fill: $color-ship-red;
}

.b-spaceship-grey path {
  fill: $color-ship-grey;
}

.b-spaceship-orange path {
  fill: $color-ship-orange;
}

.b-spaceship-black path {
  fill: $color-ship-black;
}
