@import '@styles/globals';

.b-wrapper {
  grid-column: 1 / -1;
  color: var(--color-white);
  gap: var(--space-s);
  display: flex;
  flex-direction: column;
  align-items: center;

  & svg {
    justify-self: center;
    width: var(--space-4xl);
    height: auto;
  }
}

.b-text {
  font-size: var(--font-2);
  font-weight: var(--font-weight-black);
  text-align: center;
  max-width: 80rem;

  @media (--viewport-desktop-min) {
    grid-column: 4 / 16;
  }
}

.b-spaceship-wrapper {
  justify-content: center;
  display: flex;
  gap: var(--space-l);
  margin-top: var(--space-l);

  & svg {
    max-width: 5rem;
  }

  @media (--viewport-tablet-min) {
    & > :last-child {
      display: none;
    }
  }
}

.b-spaceship-red path {
  fill: var(--color-ship-red);
}

.b-spaceship-grey path {
  fill: var(--color-ship-grey);
}

.b-spaceship-orange path {
  fill: var(--color-ship-orange);
}

.b-spaceship-black path {
  fill: var(--color-ship-black);
}
